{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    My Panel{% endblock %}
{% block content %}

<div class="pure-g-r content-ribbon">
	<div class="pure-u-1">
		<ul class="breadcrumb">
			{% block  breadcrumb%}
				<li><a href="{% url 'panel_user' %}">My Panel</a></li>
			{% endblock %}
		</ul>
	</div>
</div>



<div class="col s12 m8 offset-m2">
    <div class="card" style="width: 20rem;">
        <div class="card-content">
            <h2 class="flow-text">My Panel</h2>
            <form action="." method="POST" class="padding">
                {% csrf_token %}
                <div class="divider"></div>
                <div class="pure-u-1-3">
	                <div class="pure-menu pure-menu-open">
		                <a class="pure-menu-heading">My Profile</a>
		                <ul>
			                <li><a href="#">Curso 1</a></li>
			                <li><a href="#">Curso 1</a></li>
			                <li class="pure-menu-heading">My Account</li>
			                <li><a href="{% url 'edit_account' %}">Edit Account</a></li>
			                <li><a href="{% url 'register' %}">Edit Password</a></li>
		                </ul>
	                </div>
                </div>
	            <div class="pure-u-2-3">
		            <div class="inner">
			            {% block panel_content %}
				            <p><strong>User</strong>: {{ user }}</p>
				            <p><strong>E-mail</strong>: {{ user.email }}</p>
			            {% endblock %}
		            </div>
	            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}