{% extends 'account/panel.html' %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a href="{% url 'account:edit_password' %}">Edit Password</a></li>
{% endblock %}

{% block panel_content %}
	<form class="form-control" method="post">
        {% csrf_token %}
        {% if sucess %}
        <p>A sua senha foi aterada com sucesso!</p>
        {% endif %}
		<fieldset>
{#			{{ form.non_field_errors }}#}
			{% for field in form %}
				{{ field.label_tag }}
                    {{ field }}
				{{ field.errors }}
			{% endfor %}

            <div class="cor_Error">
                {% if form.errors %}
                    {{ form.non_field_errors }}
                {% endif %}
            </div>

			<div class="pure-controls">
				<button type="submit" class="btn btn-light button is-primary">Alter Password</button>
			</div>
		</fieldset>
	</form>

{% endblock %}