{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    My Panel{% endblock %}
{% block content %}

<div class="pure-g-r content-ribbon">
	<div class="pure-u-1">
		<ul class="breadcrumb">
			{% block  breadcrumb%}
				<li><a href="{% url 'account:panel_user' %}">My Panel</a></li>
			{% endblock %}
		</ul>
	</div>
</div>

<div class="col s12 m8 offset-m2">
    <div class="card" style="width: 100rem;">
        <div class="card-content">
            <h2 class="flow-text">My Account</h2>
            <form action="." method="POST" class="padding">
                {% csrf_token %}
                <div class="divider"></div>
                <div class="pure-u-1-3">
		            <ul>
			            <li><a href="{% url 'account:edit_account' %}">Edit Account</a></li>
                        <li><a href="{% url 'account:edit_password' %}">Edit Password</a></li>
		            </ul>
                </div>
	            <div class="pure-u-2-3">
		            <div class="form-control">
			            {% block panel_content %}
				            <p><strong>User</strong>: {{ user }}</p>
				            <p><strong>E-mail</strong>: {{ user.email }}</p>
			            {% endblock %}
		            </div>
	            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}