{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'site.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>

<body>
{% if user.is_authenticated %}
<nav class="navbar-menu">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="{% static 'img/logo_vertical.jpg' %}" alt="" width="112" height="28">
        </a>

    </div>
    <div class="navbar-menu" id="nav-data">
        <a href="{% url 'account:home' %}" class="navbar-item">Home</a>
        <a href="{% url 'account:panel_user' %}" class="navbar-item">Panel</a>
        <a href="{% url 'catalog:product_list' %}" class="navbar-item">Catalog</a>

	        <div class="navbar-end">
	            <div class="navbar-item">
	                <div class="field is-grouped">
	                    <p class="control">
	                        <a href="{% url 'account:logout' %}" class="button is-primary">
	                            <span>Logout</span>
	                        </a>
	                    </p>
	                </div>
	            </div>
	        </div>
	    {% else %}
    </div>
{% endif %}

</nav>
{% block heading %}  {% endblock %}

{%  block content %}

{%  endblock %}

<script src="{% static 'js/navbar-burger.js' %}"></script>

</body>
</html>